<div class="speakers section">
  <div class="container">
    <div class="section-title">
      <h2>Founding Fathers</h2>
      <img class="separator" src="assets/images/separator.svg" />
    </div>
    <div class="row sponsor-row justify-content-center align-items-center">
      <div class="col-md-3">
        <a
          class="simple-link"
          href="https://www.linkedin.com/in/recruitingconcepts/"
          target="_blank"
        >
          <img
            class="people-avatar clickable grow"
            src="assets/images/team/gkash.png"
          />
          <p class="clickable">Gaelen Kash</p>
        </a>
      </div>
      <div class="col-md-3">
        <a
          class="simple-link"
          href="https://www.linkedin.com/in/james-long-94379a174/"
          target="_blank"
        >
          <img
            class="people-avatar clickable grow"
            src="assets/images/team/jlongster.jpeg"
          />
          <p class="clickable">James Long</p>
        </a>
      </div>
      <div class="col-md-3">
        <a
          class="simple-link"
          href="https://www.linkedin.com/in/larsontim/"
          target="_blank"
        >
          <img
            class="people-avatar clickable grow"
            src="assets/images/team/codethug.jpg"
          />
          <p class="clickable">Tim Larson</p>
        </a>
      </div>
    </div>
  </div>
</div>
