<div class="hero">
  <div class="container">
    <img
      class="logo"
      src="assets/images/RVAJS_Reverse.svg"
      alt="brand"
      width="100%"
    />
    <p class="dates">Interested in JavaScript?</p>
    <h3>
      Join us to learn all about it. RVA.js serves as a hub for all things
      JavaScript: browsers, node.js, libraries, canvas, etc. Come to learn and
      code.
    </h3>
    <br />
    <p>Want to stay up to date?</p>
    <a
      id="btn-signup"
      class="signup-button btn btn-warning"
      target="_blank"
      href="https://www.meetup.com/rva-js/"
    >
      Join us on meetup.com
    </a>
  </div>
</div>
