<div class="sponsors section white-bk">
  <div class="container">
    <div class="section-title">
      <h2>Sponsors</h2>
      <img class="separator" src="assets/images/separator.svg" />
    </div>

    <div class="organizing-sponsors">
      <!-- <h2>Organizing Sponsors</h2> -->
      <div class="row sponsor-row justify-content-center align-items-center">
        <div class="col-md-4">
          <a href="http://www.recruitingconcepts.net/">
            <img
              src="assets/images/sponsors/recruiting_concepts.png"
              alt="Recruiting Concepts"
            />
          </a>
        </div>
      </div>
    </div>

    <p>Interested in being a sponsor?</p>
    <a
      class="contact-us large-link"
      href="mailto:gaelen.kash@recruitingconcepts.net"
      >Contact us!</a
    >
  </div>
</div>
